

@{
    ViewData["Title"] = "Admin";
}


<div class="d-flex justify-content-center">

    <div class="d-flex justify-content-center " style="margin-top:10%;">

        <a asp-action="Index" asp-controller="Doctors" class="btn btn-primary">Doctors Corner</a>
        <a style="margin-left:2%;" asp-action="Index" asp-controller="DrugStores" class="btn btn-warning">Drugs Store</a>
        <a style="margin-left:2%;" asp-action="Index" asp-controller="Patients" class="btn btn-success">Patient House</a>
        <a style="margin-left:2%;" asp-action="Index" asp-controller="Staffs" class="btn btn-info">Staff Handle</a>

     </div>
</div>